body {
    display: flex;
    flex-direction: column;
}


.headerpic {
    height: auto;
    width: 400px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    padding: 0px 160px 60px;
    gap: 80px;
}

.headercontainer1 {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.headercontainer2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.headerlist {
    display: flex;
    gap: 60px;
}

.headerlogo,
.headertext {
    color:#F9FAF8;
    font-size: 24px;
}

.headerlogo {
    padding-top: 12px;
}

ul {
    list-style-type: none;
}

h1 {
    color: #F9FAF8;
}


.linktoinsta {
    background-color: rgb(87, 126, 225);
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    flex: 0 1 auto;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


.uppermid {
    padding-bottom: 60px;
}


.uppermidinfo {
    padding: 10px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}


.uppermidpic {
    height: 220px;
    width: 220px;
}


.uppermidlist {
    display: flex;
    gap: 100px;
    justify-content: center;
}


.uppermidlist>li {
    background-color: #dce0e4;
    padding: 10px;
    border: solid 1px black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.lowermid {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lowermidcontainer {
    padding: 80px 80px;
    display: flex;
    gap: 140px;
}


.lowermidtext {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;
}

.bluebox {
    background-color: #3882F6;
    margin: 80px 160px;
    padding: 40px;
}

.footer {
    text-align: center;
    color: white;
    font-size: 12px;
}